
<template name="front">

	<body id="top">

		<style media="screen">
			#header {
				background-image: url("/images/overlay.png"), url("/images/bg.jpg");
			}
		</style>

		<!-- Header -->
			<header id="header">
				<a href="#" class="image avatar"><img src="/images/pencil.png" alt="" /></a>
				<h1>به <strong> میکروپابلیش </strong> خوش آمدید!</h1>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						{{#if isSubReady 'userData'}}
							{{#if userData}}
								{{#with userData}}
									<p>{{profile.name}}، خوش آمدید!</p>
									<ul class="actions">
										<li><a href="/profile" class="button">ویرایش اطلاعات</a></li>
										<li><a href="/{{username}}" class="button">میکروپیج شما</a></li>
										<li><a href="/publish" class="button">افزودن نوشته</a></li>
										<li><a href="#" class="button signout">خروج</a></li>
									</ul>
								{{/with}}
							{{else}}
								<header class="major">
									<h2>میکروپابلیش؟؟</h2>
								</header>
								<p>میکروپابلیش انتشار ایده‌ها و نوشته‌های شما را آسان می‌کند.</p>
								<ul class="actions">
									<li><a href="/sign/up" class="button">ثبت نام</a></li>
									<li><a href="/sign/in" class="button">ورود</a></li>
								</ul>
							{{/if}}
						{{else}}
							در حال بارگذاری...
						{{/if}}
					</section>

				<!-- Two -->
					<section id="two">
						<h2>آخرین نوشته‌های میکروپابلیش</h2>
						<section>
							{{> esInput index="posts" placeholder="جستجو..." allDocsOnEmpty=true}}
							{{#with adminData}}
								<script>
									EasySearch.changeProperty('posts', 'userId', '{{_id}}');
								</script>
							{{/with}}
					    <ul>
				        {{#esEach index="posts"}}
			            <section class="search-result">
										{{{SummarizeAndTrim body}}}
										<a href="admin/{{slug}}"> بیشتر بخوانید </a>
									</section>
				        {{/esEach}}
					    </ul>

					    {{> esLoadMoreButton index="posts"}}

					    {{#ifEsHasNoResults index="posts"}}
					        <p class="no-results">چیزی پیدا نشد...</p>
					    {{/ifEsHasNoResults}}

					    {{#ifEsIsSearching index="posts"}}
					        <p>در حال جستجو...</p>
					    {{/ifEsIsSearching}}
						</section>
					</section>

			</div>

		<!-- Footer -->
			{{> footer}}

		<!-- Scripts -->

			{{main_script}}

	</body>
</template>
