
<template name="micropage_contents">
	{{#if isSubReady "userData"}}
		{{#with userData}}
			<section>
				<header class="major">
					<p><h2> {{profile.slogan}} </h2></p>
				</header>
				<p> {{profile.about}} </p>
			</section>
			<section>
				{{> esInput index="posts" placeholder="جستجو..." allDocsOnEmpty=true}}
				<script>
					EasySearch.changeProperty('posts', 'userId', '{{_id}}');
				</script>
		    <ul>
		        {{#esEach index="posts"}}
	            <section class="search-result">
								{{{SummarizeAndTrim body}}}
								<a href="{{userData.username}}/{{slug}}"> بیشتر بخوانید </a>
							</section>
		        {{/esEach}}
		    </ul>

		    {{> esLoadMoreButton index="posts"}}

		    {{#ifEsHasNoResults index="posts"}}
		        <p class="no-results">چیزی پیدا نشد...</p>
		    {{/ifEsHasNoResults}}

		    {{#ifEsIsSearching index="posts"}}
		        <p>در حال جستجو...</p>
		    {{/ifEsIsSearching}}
			</section>
		{{/with}}
	{{else}}
		در حال بارگذاری...
	{{/if}}
</template>

<template name="micropage">

	<body id="top">

		{{#if isSubReady "userData"}}
			{{#with userData}}
				{{#if profile.banner}}
					<style media="screen">
						#header {
							background-image: url("/images/overlay.png"), url("/cfs/files/images/{{profile.banner}}");
						}
					</style>
				{{else}}
					<style media="screen">
						#header {
							background-image: url("/images/overlay.png"), url("/images/bg.jpg");
						}
					</style>
				{{/if}}
			{{/with}}
		{{else}}
			<style media="screen">
				#header {
					background-image: url("/images/overlay.png"), url("/images/bg.jpg");
				}
			</style>
		{{/if}}

		<!-- Header -->
			<header id="header">
				{{#if isSubReady "userData"}}
					{{#with userData}}
						{{#if profile.avatar}}
							<a href="#" class="image avatar">
								<img src="/cfs/files/images/{{profile.avatar}}" alt="" />
								{{#if profile.name}}
									<h1> {{profile.name}} </h1>
								{{/if}}
							</a>
						{{else}}
							<a href="#" class="image avatar">
								<img src="/images/pencil.png" alt="" />
								{{#if profile.name}}
									<h1> {{profile.name}} </h1>
								{{/if}}
							</a>
						{{/if}}
						{{#if profile.slogan}}
							<h1>{{profile.slogan}}</h1>
						{{else}}
							<h1>به <strong> میکروپابلیش </strong> خوش آمدید!</h1>
						{{/if}}
					{{/with}}
				{{else}}
					<a href="#" class="image avatar"><img src="/images/pencil.png" alt="" /></a>
					<h1>به <strong> میکروپابلیش </strong> خوش آمدید!</h1>
				{{/if}}
			</header>

		<!-- Main -->
			<div id="main">

					{{> micropage_contents}}

			</div>

		<!-- Footer -->

		<footer id="footer">
			{{#if isSubReady "userData"}}
				{{#with userData}}
					<ul class="icons ltr">
						{{#if profile.website}}<li><a href="{{profile.website}}" class="icon fa-link"><span class="label">Website</span></a></li>{{/if}}

						{{#if profile.facebook}}<li><a href="{{profile.facebook}}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>{{/if}}
						{{#if profile.googleplus}}<li><a href="{{profile.googleplus}}" class="icon fa-google-plus"><span class="label">Google+</span></a></li>{{/if}}
						{{#if profile.twitter}}<li><a href="{{profile.twitter}}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>{{/if}}
						{{#if profile.linkedin}}<li><a href="{{profile.linkedin}}" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>{{/if}}

						{{#if profile.youtube}}<li><a href="{{profile.youtube}}" class="icon fa-youtube"><span class="label">Youtube</span></a></li>{{/if}}
						{{#if profile.vimeo}}<li><a href="{{profile.vimeo}}" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>{{/if}}
						{{#if profile.aparat}}<li><a href="{{profile.aparat}}" class="icon fa-aparat"><span class="label">Aparat</span></a></li>{{/if}}

						{{#if profile.github}}<li><a href="{{profile.github}}" class="icon fa-github"><span class="label">Github</span></a></li>{{/if}}
						{{#if profile.bitbucket}}<li><a href="{{profile.bitbucket}}" class="icon fa-bitbucket"><span class="label">Bitbucket</span></a></li>{{/if}}
					</ul>
				{{/with}}
			{{else}}
				در حال بارگذاری...
			{{/if}}
			<ul class="copyright">
				<li>&copy; طراحی و اجرا: پویا اقبالی</li>
			</ul>
		</footer>

		<!-- Scripts -->

			{{main_script}}

	</body>
</template>
