
<template name="signup_form">
	<header class="major">
		<h2>نام نویسی</h2>
	</header>
	<p>برای ثبت نام کافیست فرم زیر را پر کنید!</p>
	<form id="signup-form">

    <p><input type="text" id="signup-username" placeholder="نام کاربری" /></p>
    <p><input type="email" id="signup-email" placeholder="ایمیل" /></p>
    <p><input type="password" id="signup-password" placeholder="کلمه عبور" /></p>
    <p><input type="text" id="signup-name" placeholder="نام شما" /></p>

  </form>
	<ul class="actions">
		<li><a href="#" class="button signup">ثبت نام</a></li>
		<li><a href="/" class="button">بازگشت</a></li>
	</ul>
</template>

<template name="signup">

	<body id="top">

		<style media="screen">
			#header {
				background-image: url("/images/overlay.png"), url("/images/bg.jpg");
			}
		</style>

		<!-- Header -->
			<header id="header">
				<a href="#" class="image avatar"><img src="/images/pencil.png" alt="" /></a>
				<h1>به <strong> میکروپابلیش </strong> خوش آمدید!</h1>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						{{> signup_form}}
					</section>

			</div>

		<!-- Footer -->

			{{> footer}}

		<!-- Scripts -->

			{{main_script}}

	</body>
</template>
